<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TrainingCourseManagementApp/src/com/yash/tcma/test/DBUtilTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.yash.tcma.test.DBUtilTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TrainingCourseManagementApp"/>
</launchConfiguration>
