 <ul class="todos">
    <li *ngFor="let todo of todos" [class.selected]="todo === selectedTodo" (click)="onSelect(todo)">
      <span class="badge">{{todo.id}}</span>{{todo.name}}
      <button class="delete" (click)="delete(todo); $event.stopPropagation()">x</button>
    </li>
  </ul>
  <!--<todo-detail [todo]="selectedTodo"></todo-detail> -->
  <div *ngIf="selectedTodo">
  <h2>
    {{selectedTodo.name | uppercase}} is my Todo
  </h2>
  <div>
    <label>Todo name:</label> <input #todoName />
    <button (click)="add(todoName.value); todoName.value=''">
      Add
    </button>
  </div>
  <button (click)="gotoDetail()">View Details</button>
</div>