
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
   
	<bean id="employeeServiceImpl" class="com.yash.pojo.EmployeeServiceImpl" depends-on="employeeDaoImpl"/>
	<bean id="employeeDaoImpl" class="com.yash.pojo.EmployeeDaoImpl"/>
	
</beans>