
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
	<bean id="person" class="com.yash.pojo.Person">
		<constructor-arg value="sharma.pankaj@yash.com" index="2"/>
		<constructor-arg value="34" type="int"/>
		<constructor-arg value="pankaj" index="0"/>
		
	</bean>
	
	
	
</beans>